.label {
    -fx-font-family: "Verdana", Times, serif;
    -fx-font-size: 10pt;
}
.button {
	-fx-font-family: "Verdana", Times, serif;
    -fx-font-size: 11pt;
    -fx-background-color: #009933;
    -fx-border-radius: 8px;
    -fx-transition-duration: 0.4s;
}
.button:hover {
	-fx-background-color: #66ff99;
}
.root {
    -fx-background-color: lightskyblue;
    -fx-border-color: navy;
    -fx-border-style: solid;
    -fx-border-width: 5pt;
}